.MyFormScreen {
    padding: 20px;
    display: flex;
}

.MyFormScreen .LeftPane {
    flex: 3;
}

.MyFormScreen .ContentPane {
    flex: 7;
    padding: 10px;
    margin-left: 20px;
    overflow-y: auto;
    max-height: calc(100vh - 65px);
    align-self: center;
}

.MyFormScreen .ContentPane img {
    max-width: 100%;
    max-height: calc(100vh - 80px);
}

.MyFormScreen ul {
    list-style: none;
    padding-left: 0;
    margin: auto;
    border: 1px solid #aaa;
    max-height: calc(100vh - 90px);
    overflow-x: hidden;
    overflow-y: scroll;
}

.MyFormScreen li {
    text-align: left;
    border-bottom: 1px solid #aaa;
    cursor: pointer;
}

.MyFormScreen li > div {
    padding-left: 20px;
    display: flex;
    align-items: center;
    min-height: 60px;
}

.MyFormScreen li h3 {
    padding: 10px;
    margin: 0;
    font-size: 16px;
}

.MyFormScreen .thumbnail {
    max-width: 60px;
}

.MyFormScreen .TopicFilter {
    height: 40px;
}

.MyFormScreen .TopicFilter a {
    margin: 0 15px;
    line-height: 40px;
    color: blue;
    text-decoration: none;
}

.MyFormScreen .TopicFilter a.selected {

    color: grey;
}